*{
    box-sizing: border-box;
}

img {
    width: 100%;
    max-width: 320px;
}

textarea {
    resize: none;
    min-height: 200px;
}

main {
    margin-top: 40px;
    margin-bottom: 40px;
}

html, body {
    height: 100%;
}

#page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

footer.navbar {
    margin-bottom: 0;
}
.navbar-header {
    width: 100%;
}

.task {
    padding: 20px 30px;
    margin: 20px 0;
    border: 1px solid #666666;
    background: #eee;
}

.task figure {
    border: 1px solid #000;
}

.task .meta-data{
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.table .task-preview > td{
    padding: 0;
}

.task-list th{
    text-align: center;
}

.task-preview a{
    display: block;
    padding: 10px 0;
    text-decoration: none;
    position: relative;
}

.task-preview.completed a:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #337ab7;
    width: 100%;
}

.task-preview.completed a:after {
    content: "\00B7";
    font-size: 1px;
}

.task-add-button {
    margin: 20px 0;
}
.image-group{
    text-align: center;
}

.thumbnail-container {
    margin-bottom: 15px;
    border: 1px solid #666;
    display: inline-block;
}

.task-data {
    font-family: 'Marck Script',cursive;
    margin-bottom: 40px;
}

.task-title {
    font-size: 22px;
    font-weight: bold;
}

.task-content {
    font-size: 18px;
    line-height: 28px;
    padding-top: 7px;
    background: -webkit-linear-gradient(top, #888 0%, #eee 8%) 0 4px;
    background: -moz-linear-gradient(top, #888 0%, #eee 8%) 0 4px;
    background: -ms-linear-gradient(top, #888 0%, #eee 8%) 0 4px;
    background: -o-linear-gradient(top, #888 0%, #eee 8%) 0 4px;
    background: linear-gradient(top, #888 0%, #eee 8%) 0 4px;
    background-size: 100% 28px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

.spinner {
    background: url('/public/images/spinner.gif') no-repeat 50%;
    height: 500px;
}

.content-modal {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}

.table tr.empty-list td{
    height: 120px;
    vertical-align: middle;
}

.copyright {
    color: #fff;
}